pandas
numpy
pyarrow
requests
python-dotenv
scikit-learn
lightgbm
statsmodels
mlflow
matplotlib
seaborn
jupyter
ipykernel
notebook
psycopg2-binary
SQLAlchemy
streamlit
openpyxl
tqdm
optuna
streamlit-autorefresh